:root{
    ---theme-color:#242E69;
    --light-color:#F9F9F9;
    --grey-color:#808080;
    ---light-grey-color:#D9D9D9;
}

html {
    font-size: 16px; /* Standard font size */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background-color: #f4f4f4;
}

/* Common classes start */
.font-800{
    font-weight: 800;
}

.font-700{
    font-weight: 700;
}
.font-600{
    font-weight: 600;
}

.font-500{
    font-weight: 500;
}
.text-theme{
    color: var(---theme-color);
}
.text-gray{
    color: var(--grey-color);
}
.bg-theme{
    background-color: var(---theme-color);
}

/* Common classes end */



.invoice{
    max-width: 820px;
}

.invoice-car-logo{
    height: 2rem;
}
/*invoice-table start */
.table-header{
    background-color: var(--light-color);
    border: 1px solid var(---light-grey-color);
}
.table-row{
    border-bottom: 1px solid var(---light-grey-color);
}

.service-description{
    width: calc(100% - 12rem);

}
/*invoice-table  */

/* info form  start*/
.payment-info-value::after{
    content: '________';
    position: relative;
    bottom: 0;
    color: black;
}
/* info form  end*/


/* Terms & Conditions start */
.terms-heading{
    border-bottom: 2px solid var(--grey-color);
}
.signature{
    border-top: 1px solid black;
}
/* Terms & Conditions end*/

@media(max-width:575px){
    html{
        font-size: 12px;
    }
    .service-description{
        width: calc(100% - 6rem);

    }
}
@media(max-width:400px){
    html{
        font-size: 11px;
    }
}